<header>
  <div id="navbar">
    <ul>
      <li class="page"><a href="../../index.html" data-page="index">Home</a></li>
      <li class="page"><a href="../../blogs.html" data-page="blogs">Blogs</a></li>
      <li class="page"><a href="../../games.html" data-page="games">Games</a></li>
      <li class="page"><a href="../../contact.html" data-page="contact">Contacts</a></li>
      <li class="page"><a href="../../about.html" data-page="about">About</a></li>
    </ul>
    <div class="search-bar">
      <input id="search" type="text" placeholder="Search...">
      <button id="search-button" onclick="searchContent()">Go</button>
    </div>
  </div>
</header>